body {
    background-color: aliceblue;   
}

.encabezado {
    float: left;
    width: 100%;
    background-color:cornflowerblue;  

}

.barraNav {
    float: left;
    width: 100%;
    background-color: floralwhite;
}

.tresContenedores {
    float: left;
    width: 33.33%;
    height: auto;
    background-color: antiquewhite;

}

.piePag {
    clear:both;
    width: 100%;
    background-color: cadetblue;
}

article.formularioTresContenedores {
    background-color: cornsilk;   
}